# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore environment-specific files
.env
venv/

# Ignore dependencies and package files
lib/
bin/
*.egg-info/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore system or temporary files
.DS_Store
Thumbs.db

# Ignore environment sensitive data
.env

